.cameras-container{
    margin: 37px !important;
}

.video-item{
    width: 97px;
    height: 90px;
    border-radius: 20px;
    object-fit: fill;
}

.video-player{
    width: 478px;
    height: 315px;
    border-radius: 20px;
    object-fit: fill;
}

.container{
    display: flex;
    width: 805px;
    height: 390px;
}

.items{
    justify-content: flex-end;
    gap: 15px;
}

.btn{
    position: absolute;
    top: 259px;
    width: 210px;
    height: 90px;
}

.scrolable{
    max-height: 205px;
    overflow: auto;
}

.selected{
    border: 5px solid rgba(116, 65, 243, 1);
}