// .modal-container {
//     div[class^='MuiPaper-root'] {
//        min-width: 35rem;
//     }
    
// }

.title {
    background-color: rgba(116, 65, 243, 0.2);
    text-align: center;
    text-transform: uppercase;
    color: rgba(116, 65, 243, 1);
}



