.header-wrapper {
    width: 100%;

    div[class^="MuiPaper-root"] {
        min-height: 6rem;
    }
}

.hello {
    color: #7441f3;
}

.right {
    display: flex;
}

.left {
    display: flex;
    flex-wrap: wrap;
}
